+++
title = "datasci.social"
linkTitle = "datasci.social"

+++


{{< blocks/cover title="Social media for data scientists" image_anchor="top" height="full" color="orange" >}}
<h1 style="color:#f0f;">Site under construction. Please check back later.</h1>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn more <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://datasci.social/">
		Sign-up now <i class="fa-brands fa-mastodon"></i>
	</a>
	<p class="lead mt-5">Especially welcome: Women, black, global south &amp; marginalized researchers</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
[datasci.social](https://datasci.social) is a community of professionals in human-centric data science
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-brands fa-mastodon" title="Decentralized social media" %}}
Free, open source, independently hosted.


<a href="https://joinmastodon.org/" target="_blank">Powered by Mastodon ...</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Volunteer governed community" %}}

Managed by volunteers experienced with managing online communities.

<a href="https://github.com/datascisocial/datascisocial.github.io" target="_blank">Contribute on GitHub ...</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-regular fa-university" title="Researchers &amp; practitioners" url="/about" %}}
We are researchers, students, professors, industry professionals, and are passionate about open science and improving society.

{{% /blocks/feature %}}


{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Safe space for data scientists</h1>
<h4 class="text-center">
Human-centric network science. Social data science. 
</h4>
<h4 class="text-center">
Geospatial data science. Computational social science.
</h4>
</div>

{{< /blocks/section >}}
